.wrapper {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    margin-bottom: 50px;
    font-weight: bold;
    position: relative;
    padding-left: 24px;
    color: #333;

    .logo_icon {
        margin-right: 6px;
    }
}

.navbar {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 250px;
    padding-top: 50px;
    list-style: none;
    box-shadow: 1px 1px 5px #ccc;

    a  {
        text-decoration: none;
        display: block;
        padding: 12px 0;
        position: relative;
        padding-left: 50px;
        margin-right: 24px;
        // border-right: 1px solid #ccc;
        color: #313752;

        &:hover {
            color: #0056b3;
            background-color: #f3f3f3;
        }
    }


    span {
        display: inline-block;
        font-size: 20px;
        position: absolute;
        left: 20px;
    }
}

.content {
    flex: 1;
    padding: 0 24px;
    margin-left: 250px;
}

.wrapper .active {
    color: #0056b3;
    border-right: 1px solid #ccc;
}

.content_top {
height: 70px;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 24px;
position: relative;

&::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

h2 {
    font-weight: bold;
}

 span {
    color: #333;
    font-size: 13px;
 }
}